# Planeación campaña 2017

## 1. Introducción y Objetivos

### 1.1 Descripción del proyecto

### 1.2 Objetivos específicos

## 2. Exploración y Limpieza de Datos



## 3. Análisis Exploratorio
### 3.1 Distribución por plataformas
### 3.2 Tendencias por año
### 3.3 Análisis de géneros

## 4. Conclusiones y Recomendaciones

### 2.1 Carga de datos

In [ ]:
import pandas as pd

#------------Leemos los datos del archivo games-------------
df = pd.read_csv('/datasets/games.csv')

In [ ]:
### 2.2 Limpieza inicial

In [ ]:
#---------Columnas a minúsculas-----------
columnas = df.columns
columnas = columnas.str.lower()
df.columns = columnas

#-----------------Columnas de datos String con minusculas y sin espacios al inicio ni al final--------------
df['name'] = df['name'].str.lower().str.strip()
df['platform'] = df['platform'].str.lower().str.strip()
df['genre'] = df['genre'].str.lower().str.strip()


# ---------------
df['year_of_release'] = pd.to_numeric(df['year_of_release'], errors='coerce').astype('Int64')
df.sort_values(by = 'critic_score')
df.info()
display(df)

#-----------------Columnas separadas -------------------

name = df['name']
platform = df['platform']
year = df['year_of_release']
genre = df['genre']
na_sales = df['na_sales']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             16713 non-null  object
 1   platform         16715 non-null  object
 2   year_of_release  16446 non-null  Int64
 3   genre            16713 non-null  object
 4   na_sales         16715 non-null  float64
 5   eu_sales         16715 non-null  float64
 6   jp_sales         16715 non-null  float64
 7   other_sales      16715 non-null  float64
 8   critic_score     8137 non-null   float64
 9   user_score       10014 non-null  object
 10  rating           9949 non-null   object
dtypes: Int64(1), float64(5), object(5)
memory usage: 1.4+ MB

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
0,wii sports,wii,2006,sports,41.36,28.96,3.77,8.45,76.0,8,E
1,super mario bros.,nes,1985,platform,29.08,3.58,6.81,0.77,NaN,NaN,NaN
2,mario kart wii,wii,2008,racing,15.68,12.76,3.79,3.29,82.0,8.3,E
3,wii sports resort,wii,2009,sports,15.61,10.93,3.28,2.95,80.0,8,E
4,pokemon red/pokemon blue,gb,1996,role-playing,11.27,8.89,10.22,1.00,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
16710,samurai warriors: sanada maru,ps3,2016,action,0.00,0.00,0.01,0.00,NaN,NaN,NaN
16711,lma manager 2007,x360,2006,sports,0.00,0.01,0.00,0.00,NaN,NaN,NaN
16712,haitaka no psychedelica,psv,2016,adventure,0.00,0.00,0.01,0.00,NaN,NaN,NaN
16713,spirits & spells,gba,2003,platform,0.01,0.00,0.00,0.00,NaN,NaN,NaN
16714,winning post 8 2016,psv,2016,simulation,0.00,0.00,0.01,0.00,NaN,NaN,NaN

In [ ]:
### 2.3 Tratamiento de valores faltantes