# Sprint 1 - Week 1 - Class 1 - 2

Agenda:

1. Cómo interactuamos con python?
2. Ingresando por primera vez a google colab.
3. Variables.
4. Print.
5. Tipos de datos:
  - String.
  - Float.
  - Int
  - List [].
  - Diccionario {}.
  - Tupla ().
  - Sets {}.
  - Boolean.

--------------------------------------------------------------------------

# Variables

In [ ]:
variable1 = 1
variable2 = 'Hola'
variable3 = 1.2
variable4 = []

In [ ]:
tutor_bootcamp = 'Andres' # Snake case
tutorAndres = 'Andres' # Camel case

tutor_1 = 'Andres'

In [ ]:
a = ' Andres Felipe'
a.index('res')

4

In [ ]:
'asdasdad1213415$#%&%$#'

'asdasdad1213415$#%&%$#'

In [ ]:
objeto = 'silla'

#------------
objeto = 'lampara'

#----------------
objeto = 'mesa'
print(objeto)

mesa

In [ ]:
print(objeto)

mesa

In [ ]:
a = 3

b = a  #b = 3

c = b  # c = b = 3

a = c
#asdasds

In [ ]:
a =1
A = 2

In [ ]:
print(c)

3

In [ ]:
c = b = a = 3

In [ ]:
print(c)

3

# Comando: print

## Definición
El comando `print` en Python se utiliza para mostrar información en la consola. Puede imprimir texto, números, listas, diccionarios y más.

## Características
- Permite imprimir múltiples elementos separados por comas.
- Puede formatear la salida de diferentes maneras.
- Utiliza cadenas de formato para personalizar la presentación.

## Ejemplos de Uso
### Imprimir texto
```python
print("Hola, mundo!")  # Salida: Hola, mundo!

In [ ]:
nombre = "Agudelo"
edad = 38
print("Nombre:", nombre, "Edad:", edad)  # Salida: Nombre: Alice Edad: 30

Nombre: Agudelo Edad: 38

In [ ]:
print("Los números son:", 1, 2, 3)  # Salida: Los números son: 1 2 3

Los números son: 1 2 3

In [ ]:
precio = 19.99
print(f"El precio es: {precio}")  # Salida: El precio es: 19.99

El precio es: 19.99

In [ ]:
# 1. Imprime un saludo simple
print("¡Bienvenido a la clase de Python!")

# 2. Define algunas variables
nombre = "Carlos"
edad = 25
altura = 1.75

# 3. Imprime las variables
print("Nombre:", nombre)
print("Edad:", edad)
print("Altura:", altura)

# 4. Imprime una oración combinando variables
print(f"{nombre} tiene {edad} años y mide {altura} metros.")

# 5. Imprime una lista de números
numeros = [10, 20, 30]
print("Lista de números:", numeros)

# 6. Imprime un diccionario
persona = {"nombre": nombre, "edad": edad}
print("Información de la persona:", persona)

# 7. Imprime varios elementos en una sola línea
print("Datos:", nombre, edad, altura, sep=" | ")  # Usa el argumento sep para cambiar el separador

¡Bienvenido a la clase de Python!
Nombre: Carlos
Edad: 25
Altura: 1.75
Carlos tiene 25 años y mide 1.75 metros.
Lista de números: [10, 20, 30]
Información de la persona: {'nombre': 'Carlos', 'edad': 25}
Datos: | Carlos | 25 | 1.75

-----------------------------------------------------------------

# Tipo de Dato: String

## Definición
Un string (cadena de texto) es una secuencia de caracteres. Se utiliza para representar texto en Python.

## Características
- Se define utilizando comillas simples (`'`) o comillas dobles (`"`).
- Los strings son **inmutables**, lo que significa que no se pueden cambiar después de ser creados.
- Se pueden concatenar (unir) usando el operador `+`.
- Se pueden multiplicar (repetir) usando el operador `*`.
- Se pueden indexar y segmentar para acceder a caracteres específicos o subcadenas.

## Métodos Comunes
- `len()`: Devuelve la longitud del string.
- `.lower()`: Convierte el string a minúsculas.
- `.upper()`: Convierte el string a mayúsculas.
- `.strip()`: Elimina espacios en blanco al principio y al final.
- `.replace(old, new)`: Reemplaza una subcadena por otra.

## Ejemplo
```python
nombre = "Alice"
saludo = "Hola, " + nombre + "!"
print(saludo)  # Salida: Hola, Alice!

In [ ]:
ejemplo_1 = ' Andres AGUDELO  '
print(ejemplo_1)
print( len(ejemplo_1) )
print( ejemplo_1.lower() )
print( ejemplo_1.strip() )

 Andres AGUDELO
17
 andres agudelo
Andres AGUDELO

In [ ]:
ejemplo2 = 'andres|felipe|agudelo'
ejemplo2.split('|')

['andres', 'felipe', 'agudelo']

In [ ]:
ejemplo_1_clean = ejemplo_1.strip()
ejemplo_1_clean = ejemplo_1_clean.lower()
print(ejemplo_1_clean)

andres agudelo

In [ ]:
ejemplo_1_1_clean = ejemplo_1.strip().lower().upper()
print( ejemplo_1_1_clean )

ANDRES AGUDELO

In [ ]:
1.strip()

SyntaxError: invalid decimal literal (ipython-input-24-3038764371.py, line 1)

str -> .strip() -> str
-> .lower() -> str
-> len() -> int
-> .upper()

In [ ]:
ejemplo_1 = ' Andres AGUDELO '
print( len(ejemplo_1) )
print( ejemplo_1.strip() )
print( ejemplo_1.lower() )
print( ejemplo_1.strip().lower() )

1. argumento = ' Andres Agudelo '

2. len(argumento) -> int

3. .lower() ?

1. argumento = ' Andres Agudelo '

2. argumento.strip() -> String.

3. .lower() ? -> Si

In [ ]:
# Ejercicio: Practica con Strings

# 1. Define un string con tu nombre
mi_nombre = "Irene"

# 2. Imprime la longitud de tu nombre
longitud_nombre = len(mi_nombre)
print("Longitud del nombre:", longitud_nombre)

# 3. Convierte tu nombre a mayúsculas
nombre_mayusculas = mi_nombre.upper()
print("Nombre en mayúsculas:", nombre_mayusculas)

# 3. Convierte tu nombre a minusculas
nombre_minusculas = mi_nombre.lower()
print("Nombre en mayúsculas:", nombre_minusculas)

# 4. Reemplaza una letra en tu nombre y muéstralo
nombre_modificado = mi_nombre.replace("i", "@")  # Cambia "a" por "@"
print("Nombre modificado:", nombre_modificado)

# 5. Imprime un saludo
saludo = f"Hola, {mi_nombre}!"
print(saludo)

Longitud del nombre: 5
Nombre en mayúsculas: IRENE
Nombre en mayúsculas: irene
Nombre modificado: Irene
Hola, Irene!

In [ ]:
nombre = 'Fabiola'

print('Mi nombre es {}'.format(nombre))
print(f'Mi nombre es {nombre}' )

In [ ]:
nombre = 'Camilo'

bienvenida = 'Hola {}, Cómo estas?'.format(nombre)
bienvenida2 = f'Hola {nombre}, Cómo estas?'

print(bienvenida,'|',bienvenida2)

In [ ]:
ejemplo_1.index('m')

In [ ]:
ejemplo_1 = 'Hola mundo'
#############0123456789
print(ejemplo_1[0:6])
print(ejemplo_1[5:])

print(ejemplo_1.replace('mundo','MUNDO'))
print(ejemplo_1[0:5] + ejemplo_1[5:].upper())

--------------------------------------------------------------

# Tipo de Dato: Float

## Definición
Un float (número de punto flotante) es un tipo de dato que representa números reales, es decir, números que pueden tener una parte decimal.

## Características
- Se define utilizando un número con un punto decimal (por ejemplo, `3.14`).
- Puede representar tanto números positivos como negativos.
- Se pueden realizar operaciones matemáticas como suma, resta, multiplicación y división.

## Métodos Comunes
- `round(numero, ndigits)`: Redondea el número a un número específico de dígitos.
- `abs(numero)`: Devuelve el valor absoluto del número.

## Ejemplo
```python
pi = 3.14159
resultado = pi * 2
print(resultado)  # Salida: 6.28318

In [ ]:
# 1. Define un número float
precio = -19.9954634

# 2. Imprime el precio y su valor absoluto
print("Precio original:", precio)
print("Valor absoluto del precio:", abs(precio))

# 3. Redondea el precio a un entero
precio_redondeado = round(precio,2)
print("Precio redondeado:", precio_redondeado)

# 4. Calcula el total de 3 productos
cantidad = 3
total = precio * cantidad
print("Total por 3 productos:", total)

# 5. Calcula el promedio de tres números
numero1 = 4.5
numero2 = 3.2
numero3 = 5.8
promedio = (numero1 + numero2 + numero3) / 3
print("Promedio:", promedio)

In [ ]:
a = 5.6
b = 7.8965

print(a*b) # multiplicacion
print(a/b) # Division
print(a+b) # Sumas
print(a-b) #Restas
print(a**b) # Exponencial
print(a%b) # modulo
print(a//b) # division entera

44.2204
0.7091749509276262
13.4965
-2.2965
809220.2745875426
5.6
0.0

In [ ]:
lista = [1,2,3,4]
lista_nueva = lista.insert(2,[a,b,c])
lista_nueva[2].insert(0,)
print(lista_nueva)

TypeError: 'NoneType' object is not subscriptable

----------------------------------------------------------------------------

# Tipo de Dato: Int

## Definición
Un int (número entero) es un tipo de dato que representa números enteros, es decir, números sin parte decimal.

## Características
- Se define utilizando números sin punto decimal (por ejemplo, `42` o `-7`).
- Puede representar tanto números positivos como negativos.
- Se pueden realizar operaciones matemáticas como suma, resta, multiplicación y división.

## Métodos Comunes
- `abs(numero)`: Devuelve el valor absoluto del número.
- `pow(base, exponente)`: Devuelve la potencia de un número.

## Ejemplo
```python
edad = 30
años_hasta_jubilacion = 65 - edad
print("Años hasta jubilación:", años_hasta_jubilacion)  # Salida: 35

In [ ]:
# 1. Define un número entero
mi_edad = 25

# 2. Imprime tu edad
print("Mi edad:", mi_edad)

# 3. Calcula y muestra cuántos años faltan para los 30
faltan_para_30 = 30 - mi_edad
print("Años faltantes para 30:", faltan_para_30)

# 4. Multiplica tu edad por 2 y muestra el resultado
edad_doblada = mi_edad * 2
print("Edad doblada:", edad_doblada)

# 5. Calcula la potencia de tu edad al cuadrado
edad_cuadrado = pow(mi_edad, 2)
print("Edad al cuadrado:", edad_cuadrado)

Mi edad: 25
Años faltantes para 30: 5
Edad doblada: 50
Edad al cuadrado: 625

-------------------------------------------------------------

# Tipo de Dato: List

## Definición
Una lista es una colección ordenada y mutable de elementos. Se puede utilizar para almacenar una secuencia de valores.

## Características
- Se define utilizando corchetes `[]`.
- Puede contener elementos de diferentes tipos de datos (números, cadenas, etc.).
- Es **mutable**, lo que significa que se pueden modificar sus elementos después de ser creadas.
- Permite elementos duplicados.

## Métodos Comunes
- `.append(elemento)`: Agrega un elemento al final de la lista.
- `.remove(elemento)`: Elimina la primera aparición de un elemento en la lista.
- `.pop(index)`: Elimina y devuelve el elemento en la posición especificada.
- `.sort()`: Ordena los elementos de la lista.
- `len()`: Devuelve la longitud de la lista.

## Ejemplo
```python
frutas = ["manzana", "banana", "cereza"]
frutas.append("naranja")
print(frutas)  # Salida: ['manzana', 'banana', 'cereza', 'naranja']

In [ ]:
ejemplo = [
    1,
    2,
    3,
    4,
    'sfg',
]
ejemplo

[1, 2, 3, 4, 'sfg']

PEP8

In [ ]:
ejemplo.append(5)
ejemplo

[1, 2, 3, 4, 'sfg', 5]

In [ ]:
ejemplo.append([1,2])
print(ejemplo)

[1, 2, 3, 4, 'sfg', 5, [1, 2]]

In [ ]:
ejemplo[6].append(3)

In [ ]:
ejemplo.insert(2,'Nuevo elemento')
print(ejemplo)

[1, 2, 'Nuevo elemento', 3, 4, 'sfg', 5, [1, 2, 3]]

In [ ]:
a = 'rojo'
b= 5
a

'rojo'

In [ ]:
# 1. Define una lista de tus colores favoritos
colores_favoritos = ["rojo", "verde", "azul"]

# 2. Imprime la lista original
print("Colores favoritos:", colores_favoritos)

colores_favoritos.insert(1,'amarillo')
print(colores_favoritos)
# 3. Agrega un nuevo color a la lista
# colores_favoritos.append("amarillo")
# print("Colores después de agregar uno:", colores_favoritos)

# # 4. Elimina un color de la lista
colores_favoritos.remove("verde")
print("Colores después de eliminar uno:", colores_favoritos)

# # 5. Ordena la lista de colores
colores_favoritos.sort()
print("Colores ordenados:", colores_favoritos)

# # 6. Imprime la longitud de la lista
print("Número de colores en la lista:", len(colores_favoritos))

Colores favoritos: ['rojo', 'verde', 'azul']
['rojo', 'amarillo', 'verde', 'azul']
Colores después de eliminar uno: ['rojo', 'amarillo', 'azul']
Colores ordenados: ['amarillo', 'azul', 'rojo']
Número de colores en la lista: 3

In [ ]:
test = [
    1,
    5,
    'asdasd',
    [
        ['andres','los lobos', ['azul']],
        [1,2,4,5,'amarillo'] # Agregar color rojo
    ]
]

print(len(test))
print(test[-1][-1][-1])
print(test[-1][0][-1][0][2:])
test[-1][-1].append('rojo')
print(test)
# a    z   u   l
# 0    1   2   3
# -4  -3  -2  -1

4
amarillo
ul
[1, 5, 'asdasd', [['andres', 'los lobos', ['azul']], [1, 2, 4, 5, 'amarillo', 'rojo']]]

# Tipo de Dato: Dict

## Definición
Un diccionario (dict) es una colección no ordenada de pares clave-valor. Se utiliza para almacenar datos en forma de asociación.

## Características
- Se define utilizando llaves `{}`.
- Cada elemento consiste en una clave y un valor, separados por dos puntos `:`.
- Las claves deben ser únicas y de tipos inmutables (como strings o números).
- Es **mutable**, lo que significa que puedes modificar sus elementos después de ser creados.

## Métodos Comunes
- `.get(clave)`: Devuelve el valor asociado a la clave especificada.
- `.keys()`: Devuelve una vista de las claves del diccionario.
- `.values()`: Devuelve una vista de los valores del diccionario.
- `.items()`: Devuelve una vista de los pares clave-valor del diccionario.
- `pop(clave)`: Elimina la clave y devuelve su valor.

## Ejemplo
```python
persona = {"nombre": "Alice", "edad": 30}
print(persona["nombre"])  # Salida: Alice

In [ ]:
persona = {
    "nombre": "Carlos",
    "edad": 28,
    "ciudad": "Madrid",
    8:'asdasdad'
}

persona['pais'] = ['Colombia','mexico']
persona['pais'].append('Ecuador')
print(persona)

{'nombre': 'Carlos', 'edad': 28, 'ciudad': 'Madrid', 8: 'asdasdad', 'pais': ['Colombia', 'mexico', 'Ecuador']}

In [ ]:
ejemplo_1 = {
    "nombre": ["Carlos",'asdasd'],
    "edad": {
        28:39,
        'andres':[
            {
                'planeta':'venus',
                'estrella':['sol','boral']
            }
        ]
    },
    "ciudad": "Madrid",
    8:'asdasdad'
}

print(ejemplo_1['edad']['andres'][0]['estrella'][-1])

boral

In [ ]:
lista_1 = [1,2,3,4]
print(lista_1[2])

3

In [ ]:
lista_1 = [1,2,3,4]

In [ ]:
persona = {
    "nombre": "Carlos",
    "edad": 28,
    "ciudad": "Madrid"
}
persona.items()

dict_items([('nombre', 'Carlos'), ('edad', 28), ('ciudad', 'Madrid')])

In [ ]:
test = {
    'persona_1':{
        'estatura':[
            2,
            5,
             {'apellido':'Andres'}
            ],
        'edad': 28
    },
    'amarillo':1
}

test['persona_1']['estatura'][2]['apellido']

'Andres'

In [ ]:
# 1. Define un diccionario con información sobre una persona
persona = {
    "nombre": "Carlos",
    "edad": 28,
    "ciudad": "Madrid"
}

# 2. Imprime el diccionario original
print("Información de la persona:", persona)

# 3. Accede e imprime el nombre de la persona
print("Nombre:", persona["nombre"])

# 4. Agrega una nueva clave para el país
persona["pais"] = "España"
print("Después de agregar país:", persona)

# 5. Cambia la edad de la persona
persona["edad"] = 29
print("Edad actualizada:", persona["edad"])

# 6. Elimina la clave 'ciudad'
persona.pop("ciudad")
print("Después de eliminar ciudad:", persona)

# 7. Imprime todas las claves del diccionario
print("Claves en el diccionario:", persona.keys())

Información de la persona: {'nombre': 'Carlos', 'edad': 28, 'ciudad': 'Madrid'}
Nombre: Carlos
Después de agregar país: {'nombre': 'Carlos', 'edad': 28, 'ciudad': 'Madrid', 'pais': 'España'}
Edad actualizada: 29
Después de eliminar ciudad: {'nombre': 'Carlos', 'edad': 29, 'pais': 'España'}
Claves en el diccionario: dict_keys(['nombre', 'edad', 'pais'])

---------------------------------------------------------------------

# Tipo de Dato: Tupla

## Definición
Una tupla es una colección ordenada de elementos. Se utiliza para almacenar múltiples valores en una sola variable.

## Características
- Se define utilizando paréntesis `()`.
- Es **inmutable**, lo que significa que no se pueden modificar sus elementos después de ser creadas.
- Permite elementos duplicados.
- Puede contener diferentes tipos de datos (números, cadenas, listas, etc.).

## Métodos Comunes
- `len()`: Devuelve la longitud de la tupla.
- `count(elemento)`: Devuelve el número de veces que un elemento aparece en la tupla.
- `index(elemento)`: Devuelve el índice de la primera aparición de un elemento.

## Ejemplo
```python
coordenadas = (10, 20)
print("Coordenadas:", coordenadas)  # Salida: (10, 20)

In [ ]:
# 1. Define una tupla con tus frutas favoritas
frutas = ("manzana", "banana", "cereza", "manzana")

# 2. Imprime la tupla original
print("Frutas favoritas:", frutas)

# 3. Imprime la longitud de la tupla
print("Número de frutas:", len(frutas))

# 4. Cuenta cuántas veces aparece 'manzana' en la tupla
count_manzana = frutas.count("manzana")
print("Cantidad de 'manzana':", count_manzana)

# 5. Encuentra el índice de 'banana' en la tupla
index_banana = frutas.index("banana")
print("Índice de 'banana':", index_banana)

# 6. Intenta modificar un elemento (esto generará un error)
# frutas[0] = "kiwi"  # Descomentar para ver el error

Frutas favoritas: ('manzana', 'banana', 'cereza', 'manzana')
Número de frutas: 4
Cantidad de 'manzana': 2
Índice de 'banana': 1

---------------------------------------------------------------------------

# Tipo de Dato: Set

## Definición
Un set es una colección no ordenada de elementos únicos. Se utiliza para almacenar valores sin duplicados.

## Características
- Se define utilizando llaves `{}` o la función `set()`.
- No permite elementos duplicados; si se intenta agregar un elemento ya existente, no se añadirá.
- Es **mutable**, lo que significa que se pueden agregar o eliminar elementos.
- No se puede acceder a los elementos mediante índices, ya que no tienen un orden definido.

## Métodos Comunes
- `.add(elemento)`: Agrega un elemento al set.
- `.remove(elemento)`: Elimina un elemento del set. Si el elemento no está, genera un error.
- `.discard(elemento)`: Elimina un elemento del set sin generar error si no existe.
- `.union(otro_set)`: Devuelve un nuevo set que es la unión de dos sets.
- `.intersection(otro_set)`: Devuelve un nuevo set con los elementos comunes entre dos sets.

## Ejemplo
```python
numeros = {1, 2, 3}
numeros.add(4)
print(numeros)  # Salida: {1, 2, 3, 4}

In [ ]:
lista_1 = [1,2,3,4,5,6,1,2,3]
set_1 = set(lista_1)
set_1

{1, 2, 3, 4, 5, 6}

In [ ]:
# 1. Define un set con algunos colores
colores = {"rojo", "verde", "azul"}

# 2. Imprime el set original
print("Colores:", colores)

# 3. Agrega un nuevo color al set
colores.add("amarillo")
print("Después de agregar amarillo:", colores)

# 4. Intenta agregar un color duplicado
colores.add("rojo")
print("Después de intentar agregar rojo de nuevo:", colores)  # Sin cambio

# 5. Elimina un color del set
colores.remove("verde")
print("Después de eliminar verde:", colores)

# 6. Usa discard para eliminar un color que no existe (sin error)
colores.discard("morado")
print("Después de intentar eliminar morado:", colores)

# 7. Crea otro set y encuentra la unión
otros_colores = {"cyan", "magenta"}
union_colores = colores.union(otros_colores)
print("Unión de colores:", union_colores)

Colores: {'verde', 'azul', 'rojo'}
Después de agregar amarillo: {'verde', 'azul', 'rojo', 'amarillo'}
Después de intentar agregar rojo de nuevo: {'verde', 'azul', 'rojo', 'amarillo'}
Después de eliminar verde: {'azul', 'rojo', 'amarillo'}
Después de intentar eliminar morado: {'azul', 'rojo', 'amarillo'}
Unión de colores: {'rojo', 'amarillo', 'azul', 'magenta', 'cyan'}

-------------------------------------------------------------------------------------------

# Tipo de Dato: Booleano

## Definición
Un booleano (`bool`) es un tipo de dato que solo puede tener dos valores: `True` (verdadero) y `False` (falso). Estos valores se utilizan para representar estados o resultados de condiciones lógicas.

## Características
- En Python, el tipo booleano es parte de los tipos de datos básicos.
- Los valores `True` y `False` son interpretados también como `1` y `0` respectivamente en operaciones numéricas.
- Los valores booleanos son útiles en expresiones lógicas y estructuras de control, como condicionales (`if`, `while`), que determinan el flujo de ejecución del programa.

## Conversión a Booleano
Cualquier valor en Python puede ser evaluado como un booleano usando la función `bool()`. Algunas reglas básicas son:
- Los valores "vacíos" como `0`, `None`, `""` (cadena vacía), y `[]` (lista vacía) se interpretan como `False`.
- Cualquier otro valor se evalúa como `True`.

## Ejemplo de Conversión a Booleano

```python
print(bool(0))        # Salida: False
print(bool(1))        # Salida: True
print(bool(""))       # Salida: False
print(bool("Hola"))   # Salida: True

-----------------------------------------------

# Resumen

| Tipo de dato   | Descripción                             | Iterable | Mutable  | Ejemplo              |
|----------------|-----------------------------------------|----------|----------|----------------------|
| List           | Colección ordenada de elementos.       | Sí       | Sí       | `[1, 2, 3]`          |
| Tuple          | Colección ordenada e inmutable.        | Sí       | No       | `(1, 2, 3)`          |
| Set            | Colección de elementos únicos.          | Sí       | Sí       | `{1, 2, 3}`          |
| Dictionary     | Colección de pares clave-valor.        | Sí       | Sí       | `{'a': 1, 'b': 2}`   |
| String         | Secuencia de caracteres.                | Sí       | No       | `"Hola"`             |
| Integer        | Número entero.                          | No       | No       | `42`                 |
| Float          | Número de punto flotante.               | No       | No       | `3.14`               |
| Boolean        | Valor de verdad: `True` o `False`.     | No       | No       | `True`               |

# Mutabilidad

In [ ]:
# Ejemplo de mutabilidad e inmutabilidad

# Los tipos de datos como listas y conjuntos (sets) son mutables.
# Los tipos de datos como enteros, cadenas (strings) y tuplas son inmutables.

# Ejemplo con lista (mutable)
lista = [1, 2, 3]
print("Lista original:", lista)  # Salida: [1, 2, 3]

# Modificamos un elemento de la lista
lista[0] = 100
print("Lista modificada:", lista)  # Salida: [100, 2, 3]

# Agregamos un nuevo elemento
lista.append(4)
print("Lista con nuevo elemento:", lista)  # Salida: [100, 2, 3, 4]

Lista original: [1, 2, 3]
Lista modificada: [100, 2, 3]
Lista con nuevo elemento: [100, 2, 3, 4]

In [ ]:
# Ejemplo con cadena (inmutable)
cadena = "Hola"
print("Cadena original:", cadena)  # Salida: "Hola"

# Intentamos modificar un carácter de la cadena
try:
    cadena[0] = "M"  # Esto generará un error
except TypeError as e:
    print("Error al intentar modificar cadena:", e)

# Para modificar una cadena, debemos crear una nueva
nueva_cadena = "M" + cadena[1:]
print("Nueva cadena:", nueva_cadena)  # Salida: "Mola"

Cadena original: Hola
Error al intentar modificar cadena: 'str' object does not support item assignment
Nueva cadena: Mola

In [ ]:

# Ejemplo con conjunto (mutable)
conjunto = {1, 2, 3}
print("Conjunto original:", conjunto)  # Salida: {1, 2, 3}

# Agregamos un elemento al conjunto
conjunto.add(4)
print("Conjunto después de agregar:", conjunto)  # Salida: {1, 2, 3, 4}

# Eliminamos un elemento del conjunto
conjunto.remove(2)
print("Conjunto después de eliminar:", conjunto)  # Salida: {1, 3, 4}

# Ejemplo con tupla (inmutable)
tupla = (1, 2, 3)
print("Tupla original:", tupla)  # Salida: (1, 2, 3)

# Intentamos modificar un elemento de la tupla
try:
    tupla[0] = 100  # Esto generará un error
except TypeError as e:
    print("Error al intentar modificar tupla:", e)

Conjunto original: {1, 2, 3}
Conjunto después de agregar: {1, 2, 3, 4}
Conjunto después de eliminar: {1, 3, 4}
Tupla original: (1, 2, 3)
Error al intentar modificar tupla: 'tuple' object does not support item assignment

------------------------------------------------------------

# Indexación
La indexación nos permite obtener un elemento en una posición específica dentro de un `string` o una `lista`. Python utiliza índices (posiciones) numéricos que comienzan en `0`.

### Ejemplo con Strings
Un `string` es una secuencia de caracteres (letras, números o símbolos) que se escribe entre comillas.

```python
palabra = "Python"
print(palabra[0])  # Salida: 'P' (el primer carácter)
print(palabra[2])  # Salida: 't' (el tercer carácter)
print(palabra[-1]) # Salida: 'n' (el último carácter)
```

![imagen1](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJAXouNc76_umhrAtaB4fSuZiEDr9vNreg-A&s)

In [ ]:
a = 'mujeres que corren con los lobos'
# print(a[0]+a[1]+a[2]+a[3]+a[4]+a[5]+a[6])
# print(a[0:7])
# print(a[12:18])
# print(a[-5:])
# print(a[:-5])
print(a[-5:0])
# print(a[-20:32])

In [ ]:
a.index('c',13,25)

19

In [ ]:
a[19:]

'con los lobos'

In [ ]:
numeros = [10, 20, 30, 40, 50]
print(numeros[0])  # Salida: 10 (el primer elemento)
print(numeros[2])  # Salida: 30 (el tercer elemento)
print(numeros[-1]) # Salida: 50 (el último elemento)

10
30
50

-----------------------------------

# Slicing

El **slicing** o "rebanado" es una técnica en Python para obtener una sección o subconjunto de una secuencia, como un `string` (cadena de texto) o una `lista`. Esto se hace especificando un rango de índices.

La sintaxis básica es: `secuencia[inicio:fin]`, donde:
- `inicio` es el índice donde comienza la sección que queremos obtener.
- `fin` es el índice donde queremos que termine la sección (pero sin incluir este índice).

### Ejemplos

```python
texto = "Aprender Python"
print(texto[0:8])   # Salida: 'Aprender' (del índice 0 al 7)
print(texto[9:])    # Salida: 'Python' (del índice 9 hasta el final)
print(texto[:8])    # Salida: 'Aprender' (desde el inicio hasta el índice 7)
print(texto[-6:])   # Salida: 'Python' (los últimos 6 caracteres)

In [ ]:
numeros = [10, 20, 30, 40, 50, 60, 70]
print(numeros[1:4])  # Salida: [20, 30, 40] (del índice 1 al 3)
print(numeros[3:])   # Salida: [40, 50, 60, 70] (del índice 3 al final)
print(numeros[:4])   # Salida: [10, 20, 30, 40] (desde el inicio hasta el índice 3)
print(numeros[-3:])  # Salida: [50, 60, 70] (los últimos 3 elementos)

[20, 30, 40]
[40, 50, 60, 70]
[10, 20, 30, 40]
[50, 60, 70]