# Let's practice ⚡

## Parte 1

### Ejercicios

In [ ]:
datos = [
    {
        "grupo": [
            [
                {"nombre": "Ana", "edad": 25, "ciudad": "Madrid"},
                {"nombre": "Luis", "edad": 30, "ciudad": "Barcelona"}
            ],
            [
                {"nombre": "María", "edad": 28, "ciudad": "Sevilla"},
                {"nombre": "Carlos", "edad": 35, "ciudad": "Valencia"}
            ]
        ]
    },
    {
        "grupo": [
            [
                {"nombre": "Elena", "edad": 22, "ciudad": "Bilbao"},
                {"nombre": "David", "edad": 29, "ciudad": "Málaga"}
            ],
            [
                {"nombre": "Lucía", "edad": 32, "ciudad": "Granada"},
                {"nombre": "Pedro", "edad": 40, "ciudad": "Zaragoza"}
            ]
        ]
    }
]

#### **Ejercicio 1:** Seleccionar el nombre de una persona específica
Usando datos, selecciona el nombre de la persona que está en el primer "grupo", en la primera lista dentro de ese grupo, y en la segunda posición de esa lista.

Objetivo: Asigna el nombre a la variable nombre_persona.

**Respuesta esperada: 'Luis'**

------------------------

#### **Ejercicio 2:** Encontrar la ciudad de la última persona en un grupo específico
Selecciona la ciudad de la última persona que está en el segundo "grupo", en la segunda lista dentro de ese grupo.

Objetivo: Asigna el nombre de la ciudad a la variable ciudad_persona.

**Respuesta esperada: 'Zaragoza'**

input:

--------------

#### **Ejercicio 3:** Usar get() para obtener un dato específico
Para evitar errores si la clave no existe, usa get() para obtener la ciudad de la primera persona que está en el segundo "grupo", en la segunda lista de ese grupo, y en la primera posición de la lista.

Objetivo: Asigna el nombre de la ciudad a la variable ciudad_segunda_persona.

**Respuesta esperada: 'Granada'**

-------------

#### **Ejercicio 4:** Cambiar el nombre de una persona específica
Usando la estructura datos, cambia el nombre de la persona que está en el primer "grupo", en la segunda lista de ese grupo, y en la primera posición de esa lista, por 'Marta'.

Objetivo: Modifica el nombre directamente en la estructura datos sin crear una nueva variable.

**Resultado esperado: La estructura datos debe reflejar que el nombre de esa persona ahora es 'Marta'.**

-------------

#### **Ejercicio 5:** Añadir un nuevo campo a un diccionario específico
Añade un campo 'ocupacion' con el valor 'Ingeniero' al diccionario de la persona que está en el segundo "grupo", en la segunda lista de ese grupo, y en la primera posición de esa lista.

Objetivo: Agrega el nuevo campo directamente en datos.

**Resultado esperado: El diccionario correspondiente debe incluir {"ocupacion": "Ingeniero"}.**

-------------

#### **Ejercicio 6:** Eliminar un campo en un diccionario específico
Elimina el campo 'ciudad' en el diccionario de la persona que está en el primer "grupo", en la segunda lista de ese grupo, y en la segunda posición de esa lista.

Objetivo: Elimina el campo directamente en datos.

Resultado esperado: El diccionario correspondiente ya no debe contener el campo 'ciudad'.

---------------

#### **Ejercicio 7:** Agregar un nuevo diccionario a una lista específica
En la estructura de datos datos, agrega un nuevo diccionario al final de la primera lista dentro del primer "grupo". El nuevo diccionario debe contener los datos siguientes:

```python
{"nombre": "Sofía", "edad": 27, "ciudad": "Bilbao"}

```

In [ ]:
usuario_nuevo = {"nombre": "Sofía", "edad": 27, "ciudad": "Bilbao"}

datos[0]['grupo'][0].append(usuario_nuevo)

In [ ]:
datos[0]['grupo'][0][0]['pais'] = 'España'

In [ ]:
datos[0]['grupo'][0][0]

{'nombre': 'Ana', 'edad': 25, 'ciudad': 'Madrid', 'pais': 'España'}

### Respuestas

#### **Ejercicio 1**: Seleccionar el nombre de una persona específica
Selecciona el nombre de la persona en el primer "grupo", en la primera lista de ese grupo, y en la segunda posición de esa lista.

In [ ]:
nombre_persona = datos[0]["grupo"][0][1]["nombre"]

-----------

#### **Ejercicio 2:** Encontrar la ciudad de la última persona en un grupo específico
Selecciona la ciudad de la última persona en el segundo "grupo", en la segunda lista de ese grupo.

In [ ]:
ciudad_persona = datos[1]["grupo"][1][1]["ciudad"]
# Resultado esperado: 'Zaragoza'

-------------

#### **Ejercicio 3:** Usar get() para obtener un dato específico
Utiliza get() para obtener la ciudad de la primera persona en el segundo "grupo", en la segunda lista de ese grupo, y en la primera posición de la lista.

In [ ]:
ciudad_segunda_persona = datos[1]["grupo"][1][0].get("ciudad")
# Resultado esperado: 'Granada'

--------------

#### **Ejercicio 4:** Cambiar el nombre de una persona específica
Cambia el nombre de la persona en el primer "grupo", en la segunda lista de ese grupo, y en la primera posición de esa lista a 'Marta'.

In [ ]:
datos[0]["grupo"][1][0]["nombre"] = "Marta"
# Resultado esperado: El nombre en la estructura de datos será 'Marta'

---------------

#### **Ejercicio 5:** Añadir un nuevo campo a un diccionario específico
Añade un campo 'ocupacion' con el valor 'Ingeniero' al diccionario de la persona en el segundo "grupo", en la segunda lista de ese grupo, y en la primera posición de esa lista.

In [ ]:
datos[1]["grupo"][1][0]["ocupacion"] = "Ingeniero"
# Resultado esperado: El diccionario incluirá {"ocupacion": "Ingeniero"}

-----------------

#### **Ejercicio 6:** Eliminar un campo en un diccionario específico
Elimina el campo 'ciudad' del diccionario de la persona en el primer "grupo", en la segunda lista de ese grupo, y en la segunda posición de esa lista.

In [ ]:
del datos[0]["grupo"][1][1]["ciudad"]
# Resultado esperado: El diccionario correspondiente ya no contendrá el campo 'ciudad'

-----------

#### **Ejercicio 7:** Agregar un nuevo diccionario a una lista específica
En la estructura de datos datos, agrega un nuevo diccionario al final de la primera lista dentro del primer "grupo".

In [ ]:
nuevo_diccionario = {"nombre": "Sofía", "edad": 27, "ciudad": "Bilbao"}
datos[0]["grupo"][0].append(nuevo_diccionario)

## Parte 2

### Ejercicios

#### **Ejercicio 1:** Almacenar nombres en una lista
Dada la siguiente lista de diccionarios, utiliza un bucle for para almacenar el nombre de cada persona en una nueva lista.

- Input: Lista de diccionarios.
- Output: Lista de strings.

Receta:
  1. Inicializar una lista vacia.
  2. Iterar sobre la lista de diccionarios.
  3. "Ana"  -> dict["nombre"]
  4. lista.append(nombre)

In [ ]:
personas = [
    {"nombre": "Ana", "edad": 25},
    {"nombre": "Luis", "edad": 30},
    {"nombre": "María", "edad": 28}
]

# Inicializar la lista para almacenar nombres
nombres = []


for persona in personas:
  nombre = persona['nombre']
  print(persona)
# Instrucción: Almacenar el nombre de cada persona en la lista

{'nombre': 'Ana', 'edad': 25}
{'nombre': 'Luis', 'edad': 30}
{'nombre': 'María', 'edad': 28}

#### **Ejercicio 2:** Calcular la suma de edades
Usando la misma lista de diccionarios, utiliza un bucle for para calcular la suma de las edades de todas las personas y almacenar el resultado en una variable.

- input -> lista de diccionarios
- output -> numero entero- > suma de las edades

proceso:

1. generar una variable = 0
2. definir el ciclo for. v_temporal = dict.
3. extraer la edad -> ['llave']
4. Sumar la edad

In [ ]:
personas = [
    {"nombre": "Ana", "edad": 25},
    {"nombre": "Luis", "edad": 30},
    {"nombre": "María", "edad": 28}
]

# Inicializar la variable para la suma
suma_edades = 0

for persona in personas:
  edad = persona['edad']
  suma_edades += edad
print(suma_edades)
# Instrucción: Calcular la suma de las edades

83

#### **Ejercicio 3:** Almacenar información de cada persona en una lista
Utiliza un bucle for para almacenar la información de cada persona en una nueva lista en el siguiente formato: "Nombre: Ana, Edad: 25, Ciudad: Madrid".

In [ ]:
personas = [
    {"nombre": "Ana", "edad": 25, "ciudad": "Madrid"},
    {"nombre": "Luis", "edad": 30, "ciudad": "Barcelona"},
    {"nombre": "María", "edad": 28, "ciudad": "Sevilla"}
]

{'nombre': 'Ana', 'edad': 25, 'ciudad': 'Madrid'}
-----
{'nombre': 'Luis', 'edad': 30, 'ciudad': 'Barcelona'}
-----
{'nombre': 'María', 'edad': 28, 'ciudad': 'Sevilla'}
-----

Salida esperada:

```python
[
    "Nombre: Ana, Edad: 25, Ciudad: Madrid",
    "Nombre: Luis, Edad: 30, Ciudad: Barcelona",
    "Nombre: María, Edad: 28, Ciudad: Sevilla"
]

```

### Respuestas

#### Ejercicio 1: Almacenar nombres en una lista

In [ ]:
personas = [
    {"nombre": "Ana", "edad": 25},
    {"nombre": "Luis", "edad": 30},
    {"nombre": "María", "edad": 28}
]

# Inicializar la lista para almacenar nombres
nombres = []

# Almacenar el nombre de cada persona en la lista
for persona in personas:
    nombres.append(persona["nombre"])

# Resultado esperado: ["Ana", "Luis", "María"]
print(nombres)

['Ana', 'Luis', 'María']

#### Ejercicio 2: Calcular la suma de edades

In [ ]:
# Inicializar la variable para la suma
suma_edades = 0

# Calcular la suma de las edades
for persona in personas:
    suma_edades += persona["edad"]

# Resultado esperado: 83
print(suma_edades)

83

#### Ejercicio 5: Almacenar información de cada persona en una lista

In [ ]:
personas = [
    {"nombre": "Ana", "edad": 25, "ciudad": "Madrid"},
    {"nombre": "Luis", "edad": 30, "ciudad": "Barcelona"},
    {"nombre": "María", "edad": 28, "ciudad": "Sevilla"}
]

# Inicializar la lista para almacenar la información
informacion_personas = []

# Almacenar la información de cada persona en la lista
for persona in personas:
    info = f"Nombre: {persona['nombre']}, Edad: {persona['edad']}, Ciudad: {persona['ciudad']}"
    informacion_personas.append(info)

print(informacion_personas)

['Nombre: Ana, Edad: 25, Ciudad: Madrid', 'Nombre: Luis, Edad: 30, Ciudad: Barcelona', 'Nombre: María, Edad: 28, Ciudad: Sevilla']